/* Styles for the admin page */

body {
    font-family: Arial, sans-serif;
    background-color: #e3dac9;
    color: #333;
    text-align: center;
    margin: 0;
}

#admin-button, #back-to-home-button, #show-all-pets-button, #add-pet-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#admin-button:hover, #back-to-home-button:hover, #show-all-pets-button:hover, #add-pet-form button:hover {
    background-color: #45a049;
}

#admin-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#admin-main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin-top: 20px;
}

#admin-header {
    width: 100%;
    background-color: #bc987e;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

#admin-header h1 {
    margin: 0;
    font-size: 3rem;
    color: white;
}

#back-to-home-button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-home-button:hover {
    background-color: #45a049;
}

#add-pet-section {
    background-color: #fbe2cd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
    margin-right: 20px;
    flex: 1;
}

#add-pet-section h2 {
    margin-top: 0;
    text-align: center;
}

#add-pet-form {
    display: flex;
    flex-direction: column;
}

#add-pet-form label {
    margin-bottom: 5px;
}

#add-pet-form input, #add-pet-form select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-pet-form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

#edit-pet-button, #delete-pet-button {
    background-color: #FF6347;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#edit-pet-button:hover, #delete-pet-button:hover {
    background-color: #FF4500;
}

#show-all-pets-button {
    display: block;
    margin: 20px auto;
}

#pets-list-section {
    flex: 2;
    margin-left: 20px;
    width: calc(100% - 420px); /* Adjust the width to accommodate the form container */
    text-align: left;
}

#pets-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px; /* space between items */
}

#pets-list-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
    margin: 10px;
}

.pet-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.pet-item:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #e0e0e0;
    border-color: #4CAF50;
}

.pet-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.pet-item p {
    margin: 5px 0;
}

.pet-item button {
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pet-item button:hover {
    background-color: #45a049;
}

.pet-item button.delete {
    background-color: #FF6347;
}

.pet-item button.delete:hover {
    background-color: #FF4500;
}
