body {
    font-family: Arial, sans-serif;
    background-color: #e3dac9;
    color: #333;
    text-align: center;
}

header {
    background-color: #bc987e;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    color: white;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 120px;  /* Increase the gap between buttons */
    margin-top: 190px;
}

.filter-button {
    background-color: white;
    border: 6px solid #FF9999;
    border-radius: 40px;
    padding: 100px;  /* Increase padding to make buttons bigger */
    width: 400px;  /* Increase width to make buttons bigger */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.filter-button img {
    width: 70px;  /* Increase the image size */
    height: 70px;  /* Increase the image size */
}

.filter-button:hover {
    background-color: #FFE5E5;
    border-color: #FF6666;
}


#admin-button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#admin-button:hover {
    background-color: #45a049;
}