html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #e3dac9;
    color: #333;
    text-align: center;
}

header {
    background-color: #bc987e;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 20px;
}

.filter-button {
    position: relative;
    background-color: white;
    border: 6px solid #FF9999;
    border-radius: 40px;
    padding: 0;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.filter-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.filter-button span {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.filter-button:hover {
    background-color: #FFE5E5;
    border-color: #FF6666;
}

#pets-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#pets-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pet-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
    margin: 10px;
    /* Add margin to create space between containers */
}

.pet-container h3 {
    margin-top: 0;
}

.pet-container p {
    margin: 10px 0;
}

#admin-button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#admin-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #a67b5b;
    padding: 10px 0;
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
    /* Ensure the footer stays at the bottom of the content */
}