<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Pet Adoption Catalog</title>
</head>

<body>
    <header>
        <h1>Pet Adoption Catalog</h1>
        <button id="admin-button" onclick="window.location.href='/admin'">Admin</button>
    </header>
    <main>
        <section id="filter-pets-section">
            <div class="filter-buttons">
                <button class="filter-button" data-type="Dog">
                    <img src="{{ url_for('static', filename='cute_dog.jpg') }}" alt="Dogs">
                    <span>Dogs</span>
                </button>
                <button class="filter-button" data-type="Cat">
                    <img src="{{ url_for('static', filename='baby_kitten.jpg') }}" alt="Cats">
                    <span>Cats</span>
                </button>
                <button class="filter-button" data-type="Other">
                    <img src="{{ url_for('static', filename='bird_and_rabbit.jpg') }}" alt="Other Animals">
                    <span>Other Animals</span>
                </button>
            </div>
        </section>
        <section>
            <ul id="pets-list"></ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Pet Adoption</p>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>